@{ ViewData["Name"] = "Access denied"; }
<div class="card alert-danger">
	<div class="card-header">
		<h1 class="h4 m-0 p-0">
			@ViewBag.Name
		</h1>
	</div>
	<div class="card-body">
		<p>You do not have access to the resource you try to reach.</p>
	</div>
</div>