[*.cs]
# Suppress
dotnet_diagnostic.CA1707.severity = none
#dotnet_diagnostic.CA1054.severity = none
#dotnet_diagnostic.CA1724.severity = none
#dotnet_diagnostic.CA2007.severity = none
#dotnet_diagnostic.CA5399.severity = none