@model DeviceViewModel
<div class="card">
	<div class="card-header">
		<h1 class="h4 m-0 p-0">
			<svg class="size-1-point-4-rem m-0 p-0" role="presentation">
				<use xlink:href="/Style/Icons/sprite.svg#key" />
			</svg>
			@Localizer.GetString("Heading")
		</h1>
	</div>
	<div class="card-body">
		<p>@Localizer.GetString("Information")</p>
		<partial name="ValidationSummary" />
		<partial model="@Model.Form" name="~/Views/Device/Form.cshtml" />
	</div>
</div>