@model EnvironmentVariablesViewModel
<div class="card">
	<div class="card-header">
		<h1 class="h4">@Localizer.GetString("Heading")</h1>
	</div>
	<div class="card-body">
		<p>@Localizer.GetString("Information")</p>
		@if(Model != null && Model.Items.Any())
		{
			<ul class="list-group">
				@foreach(var (key, value) in Model.Items)
				{
					<li class="list-group-item">
						<strong>@key:</strong> @value
					</li>
				}
			</ul>
		}
	</div>
</div>